logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target


project/target/resolution-cache/reports/default-surferpedia-build-compile.xml

project/target/resolution-cache/reports/default-surferpedia-build-compile.xml

project/target/resolution-cache/reports/default-surferpedia-build-docs.xml

project/target/resolution-cache/reports/default-surferpedia-build-docs.xml

project/target/resolution-cache/reports/default-surferpedia-build-optional.xml

project/target/resolution-cache/reports/default-surferpedia-build-optional.xml

project/target/resolution-cache/reports/default-surferpedia-build-plugin.xml

project/target/resolution-cache/reports/default-surferpedia-build-plugin.xml

project/target/resolution-cache/reports/default-surferpedia-build-pom.xml

project/target/resolution-cache/reports/default-surferpedia-build-pom.xml

project/target/resolution-cache/reports/default-surferpedia-build-provided.xml

project/target/resolution-cache/reports/default-surferpedia-build-provided.xml

project/target/resolution-cache/reports/default-surferpedia-build-runtime-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-runtime-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-runtime.xml

*.xml

project/target/resolution-cache/reports/default-surferpedia-build-scala-tool.xml

project/target/resolution-cache/reports/default-surferpedia-build-scala-tool.xml

project/target/resolution-cache/reports/default-surferpedia-build-sources.xml

project/target/resolution-cache/reports/default-surferpedia-build-sources.xml

project/target/resolution-cache/reports/default-surferpedia-build-test-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-test-internal.xml

project/target/resolution-cache/reports/default-surferpedia-build-test.xml

project/target/resolution-cache/reports/default-surferpedia-build-test.xml

project/target/streams/$global/update/$global/out

project/target/streams/$global/update/$global/out

project/target/streams/$global/update/$global/output

project/target/streams/$global/update/$global/output
