@(message: String)

@Main("cmoore") {
   <div class="container">
     <div class="row">
        <div class=col-md-4>
            <div class="well">
                <div class="moore-pic"></div>
            </div>
        </div>
        <div class=col-md-8>
            <div class="well">
                <h1>Clarissa Moore</h1>
                <p>"I think the best advice I ever received as a kid was to believe in myself. My dad was always trying to drill that into my head. When you're young, it's easy to get caught up in the small things that feel like a big deal at the time and lose self-confidence. But if you really believe in yourself and can find something you're passionate about, good things will happen. You've got to have fun with it too. There's a time and a place to focus and sweat and push yourself, but you also have to separate that and just relax and enjoy it. You'll hear people say that they perform their best when they're having fun, and I've definitely found that to be true."</p>
                <p>"Right now, the girls on Tour are surfing better than ever and are elevating women's surfing at every event. I'm loving being on the Tour and really couldn't be happier. As far as any personal improvements go, I do have a problem with letting everyone else get in my head sometimes, but I'm getting better at tuning that out and focusing on what I have to do."</p>
                <p>"I do worry about the future of women's professional surfing. For a while there, we only had five events and it's hard to look at something like that and not be left with a dismal feeling. But that being said, I do think it's coming back. How could it not? We have such a great thing here and there are so many good girls in the water and it sounds like we're going to be adding a few more events to the season-so I'm hopeful."</p>
            </div>
        </div>
        
     </div>
   </div>
}
