@(message: String)

@Main("kalanid") {
   <div class="container">
     <div class="row">
        <div class=col-md-4>
            <div class="well">
                <div class="kalani-pic"></div>
            </div>
        </div>
        <div class=col-md-8>
            <div class="well">
                <h1>Kalani David</h1>
                <p>Kalani David. The 14-year-old Costa-Rica-born-Hawaiian-pro-skater-slash-pro-surfer is looking very uncomfortable seated across from me at a roadside eatery in Bali. The World Junior Championships are on and as of yesterday, he is now the highest ranked surfer in the world for his age (having lost out in Round 4 to one of the event favorite's, Conner Coffin).</p>
                <p>His strengths are airs and his weaknesses are definitely turns. He's working on turns. He's been filming a lot lately, and has some footage of his turns, so he wants to improve that. If he could combine more rail surfing with airs, he thinks he'd do a lot better.</p>
                <p>As David confronts the painstaking decision of whether to pursue a career in skating or surfing, you might think the injury toll alone would be enough to make up his mind. But you'd be wrong. "If it was life or death, and I had to choose skating or surfing, I'd choose death," he says. </p>
            </div>
        </div>
     </div>
   </div>
}
