@(message: String) @Main("Kelia") {
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="keliamoniz"></div>
    </div>

    <div class="col-md-8">
      <h2>Kelia Moniz</h2>
      <p>Multi-talented Japanese, Hawaiian, Portuguese, Chinese, Irish beauty Kelia Moniz grew up in a surfing family that
      spends more time in the water than on land. Raised with four brothers and an ex-professional surfer for a father,
      Kelia (known by friends and family as Sister) definitely knows how to surf with the boys. She proved her merit
      last year by being the only girl to make it to the semifinals in the noseriding event at the Corona Hawaiian Open.
      </p>
      <p>Growing up on Oahu, Kelia began surfing at the age of five and spent most of her life as a longboarder, recently
      adding shortboarding to her repeptoire in order to enjoy riding with her brothers. Her family's strong bond and
      ties to surfing - they own and operate Faith Surf School in Waikiki and all of the children are homeschooled -
      have been an important influence in her life, both in and out of the water. When asked about her favorite surf
      memory, Kelia quickly responds, "watching my Dad teach a man with no arms or legs to surf, it was absolutely
      amazing!"</p>
      <p>A born competitor, Kelia began her amateur career amongst her brothers and friends in unofficial
      contests organized and judged by her father. Recently, Kelia has been boldly competing against top adult pros in
      contests across the globe, including Europe and California. This past year she has demonstrated her contest
      prowess on both a longboard and shortboard with a second place finish in the Roxy Jam Honolulu (longboard) and a
      first place finish at the NSSA High School Nationals (shortboard). The ease with which she competes on both a long
      and short board makes Kelia a force to watch in the coming years.</p>

    </div>

  </div>
</div>
}
